--extra-index-url https://download.pytorch.org/whl/cpu

# Core ML & Audio
torch
torchaudio
openai-whisper
pydub
soundfile
numpy<2.0.0

# Frameworks & UI
streamlit>=1.30.0
fastapi
uvicorn
pydantic

nltk

# Document & Profanity Tools
better_profanity
python-docx
joblib
